body{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.container {
    max-width: 1200px;
    margin: 40px auto;
}
h1{
    text-align: center;
}

span{
    color: goldenrod;
}

#gallery {
    margin-top: 20px;
}
p{
    text-align: center;
    color: white;
}
a{
    color: goldenrod ;
}
a:hover{
    text-decoration: none;
    color: #ffc107;
}
.gallery-item {
    margin: 10px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#filters {
    list-style: none;
    padding: 0;
    margin: 0;
}

#filters li {
    margin-bottom: 10px;
}

#filters a {
    text-decoration: none;
    color: #337ab7;
}

#filters a:hover {
    color: #23527c;
}

.gallery-item{
    transition: transform 0.5s; 
    transform: scale(1); 
}
.gallery-item:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer; 
  }
.animated-heading {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    animation: slide-in 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Make the heading responsive */
  @media only screen and (max-width: 768px) {
   .animated-heading {
      font-size: 30px;
    }
  }
  
  @media only screen and (max-width: 480px) {
   .animated-heading {
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 768px) {
    h2 {
       font-size: 30px;
     }
   }
   
   @media only screen and (max-width: 480px) {
    h2 {
       font-size: 25px;
     }
   }

   /* butonnnnnnnnnn */

.btn-filter {
    width: 200px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .btn-filter:hover {
    background-color: #ffc107;
    color: #fff;
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.2);
  }
  
  @media only screen and (max-width: 768px) {
   .btn-filter {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
   .btn-filter {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  #filters li {
    margin-bottom: 20px;
  }

  #filters {
    list-style: none;
    padding: 0;
    margin: 0;
  }